@use "../../../utils/colors" as *;
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eeeeee;
    overflow: hidden;
    position: relative;
    height: calc(100vh - 60px);
    .graphic {
        position: absolute;
        left: 0;
        top: 70px;
        z-index: 5;
        height: calc(100% - 70px);
        img {
            overflow: hidden;
            width: auto;
            max-width: 100%;
            height: calc(100%);
        }
    }
    .banner {
        width: 100%;
        min-height: 70px;
        box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.06);
        background-image: linear-gradient(to right, #6a2c70, #d093d4);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 40px;
        p {
            font-size: 24px;
            font-weight: bold;
            color: #ffffff;
        }
    }
    .card {
        width: 700px;
        height: 500px;
        margin-top: 60px;
        margin-bottom: 150px;
        box-shadow: 1px 1px 10px rgba(1, 1, 1, 0.1);
        background-color: white;
        padding: 20px 50px;
        opacity: 0.9;
        z-index: 6;
        display: flex;
        flex-direction: column;
        align-items: center;
        .header {
            height: 150px;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            color: #555;
            img {
                width: 90px;
            }
            .right {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            div:first-child {
                font-size: 24px;
            }
            div:last-child {
                color: #666;
                font-size: 14px;
            }
        }
        .subheader {
            margin-bottom: 40px;
            color: #666;
            font-size: 14px;
        }
        .error {
            color: red;
            font-size: 14px;
        }
        form {
            display: flex;
            flex-direction: column;
            width: 350px;
            div {
                width: 100%;
                position: relative;
                svg {
                    position: absolute;
                    right: 10px;
                    bottom: 25px;
                    width: 18px;
                    cursor: pointer;
                    color: $purple !important;
                }
            }
            label {
                margin-bottom: 8px;
                font-size: 14px;
                font-weight: 500;
                display: block;
                width: 100%;
            }
            input {
                margin-bottom: 20px;
                height: 40px;
                padding-left: 10px;
                outline: none;
                border: 1px solid rgba(1, 1, 1, 0.2);
                border-radius: 5px;
                width: 100%;
            }
            button {
                width: 180px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                background-color: #6a2c70;
                color: #fff;
                font-size: 16px;
                font-weight: 500;
                margin: 20px auto;
                svg {
                    width: 18px;
                    margin-top: 3px;
                    margin-left: 7px;
                }
            }
        }
    }
}

@media screen and (max-width: 740px) {
    .wrapper {
        .card {
            width: 95%;
            .header {
                align-items: center;
                margin-top: 10px;
                div {
                    text-align: center;
                }
                img {
                    margin-right: 15px;
                }
            }
            .subheader {
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .wrapper {
        .header {
            flex-direction: column;
            height: auto;
            margin-bottom: 20px;
        }
        .card {
            padding: 10px;
            form {
                width: 100%;
            }
        }
    }
}