.wrapper {
    width: 100%;
    background-color: hsl(0, 0%, 96%);
    padding-bottom: 50px;
    .banner {
        width: 100%;
        height: 70px;
        box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.06);
        background-image: linear-gradient(to right, #6a2c70, #d093d4);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 40px;
        p {
            font-size: 24px;
            font-weight: bold;
            color: #ffffff;
        }
        .editProfile {
            display: none;
            width: 127px;
            height: 36px;
            border-radius: 5px;
            border: solid 1px #6a2c70;
            background-color: #ffffff;
            color: #6a2c70;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            font-weight: 600;
            svg {
                width: 16px;
                margin-left: 10px;
            }
        }
    }
    .profileWrapper {
        width: 1300px;
        margin: 0 auto;
        margin-top: 50px;
        background-color: #ffffff;
        box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.06);
        position: relative;
        border-radius: 5px;
        .editProfile {
            position: absolute;
            top: 20px;
            right: 20px;
            width: 127px;
            height: 36px;
            border-radius: 5px;
            border: solid 1px #6a2c70;
            background-color: #ffffff;
            color: #6a2c70;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            font-weight: 600;
            svg {
                width: 16px;
                margin-left: 10px;
            }
        }
        .profile {
            width: 100%;
            padding-bottom: 50px;
            .userWrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .userImage {
                    width: 100px;
                    height: 100px;
                    border-radius: 100px;
                    margin-top: 40px;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 100%;
                    }
                }
                p {
                    font-size: 24px;
                    color: #555555;
                    margin-top: 10px;
                }
            }
            .userInfo {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 30px;
                .info {
                    padding: 0 50px;
                    &:nth-child(2) {
                        border-left: 1px solid #d4d4d4;
                        // border-right: 1px solid #d4d4d4;
                    }
                    p {
                        &:first-child {
                            font-size: 14px;
                            color: #666666;
                        }
                        &:last-child {
                            font-size: 16px;
                            font-weight: 500;
                            color: #2f2f2f;
                        }
                    }
                }
            }
        }
        .coursesWrapper {
            width: 90%;
            margin: 0 auto;
            .courseType {
                font-size: 16px;
                color: #2f2f2f;
                margin-top: 30px;
                margin-left: 15px;
            }
            .courses {
                display: flex;
                flex-wrap: wrap;
                .card {
                    width: 227px;
                    height: 250px;
                    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.09);
                    background-color: #ffffff;
                    display: flex;
                    flex-direction: column;
                    margin: 15px;
                    border-radius: 10px;
                    .image {
                        width: 100%;
                        height: 100px;
                        margin-bottom: 10px;
                        border-radius: 10px;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-top-left-radius: 10px;
                            border-top-right-radius: 10px;
                        }
                    }
                    .text {
                        padding: 0 15px;
                        p {
                            &:first-child {
                                font-size: 14px;
                                font-weight: bold;
                                color: #2f2f2f;
                                margin-bottom: 20px;
                            }
                            &:last-child {
                                font-size: 10px;
                                text-transform: uppercase;
                                color: #777777;
                                margin-bottom: 10px;
                            }
                        }
                    }
                    .progress {
                        margin-top: auto;
                        margin-bottom: 10px;
                        padding: 0 15px;
                        .progressBarBackground {
                            width: 100%;
                            height: 4px;
                            background-color: #eeeeee;
                            .progressBarForeground {
                                width: 10%;
                                height: 4px;
                                background-color: #6a2c70;
                            }
                        }
                        p {
                            font-size: 10px;
                            color: #999999;
                            margin-top: 10px;
                        }
                    }
                    .controller {
                        width: 100%;
                        padding: 0 15px;
                        padding-bottom: 15px;
                        button {
                            width: 100%;
                            height: 36px;
                            border-radius: 5px;
                            background-color: #6a2c70;
                            font-size: 14px;
                            font-weight: 600;
                            color: #ffffff;
                        }
                    }
                }
                .noCourses {
                    text-align: center;
                    margin: 0 auto;
                    margin-top: 50px;
                    font-size: 22px;
                }
            }
            .completedCoursesWrapper {
                display: flex;
                flex-wrap: wrap;
                .card {
                    width: 220px;
                    height: 230px;
                    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.09);
                    background-color: #ffffff;
                    padding: 15px;
                    display: flex;
                    flex-direction: column;
                    margin: 15px;
                    .image {
                        width: 100%;
                        height: 100px;
                        margin-bottom: 10px;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .text {
                        margin-bottom: 15px;
                        p {
                            &:first-child {
                                font-size: 16px;
                                font-weight: 600;
                                color: #000000;
                            }
                        }
                    }
                    .controller {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        margin-top: auto;
                        button {
                            &:first-child {
                                width: 115px;
                                height: 35px;
                                border-radius: 5px;
                                background-color: #6a2c70;
                                color: #ffffff;
                            }
                            &:last-child {
                                width: 69px;
                                height: 36px;
                                border-radius: 5px;
                                border: solid 1px #6a2c70;
                                background-color: #ffffff;
                                color: #6a2c70;
                            }
                        }
                    }
                }
            }
        }
    }
    .editProfileWrapper {
        width: 800px;
        margin: 0 auto;
        margin-top: 50px;
        background-color: #ffffff;
        box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.06);
        padding-bottom: 60px;
        position: relative;
        .backButton {
            position: absolute;
            top: 20px;
            left: 20px;
            background-color: transparent;
            color: #2f2f2f;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            font-weight: 600;
            svg {
                width: 20px;
                margin-right: 5px;
            }
        }
        .saveButton {
            position: absolute;
            top: 20px;
            right: 20px;
            width: 127px;
            height: 36px;
            border-radius: 5px;
            background-color: #6a2c70;
            color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            font-weight: 600;
            svg {
                width: 16px;
                margin-left: 10px;
            }
        }
        .changeProfilePhoto {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 50px;
            .imageUploadWrapper {
                cursor: pointer;
                .editImage {
                    width: 100px;
                    height: 100px;
                    border-radius: 100%;
                    margin-top: 40px;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 100%;
                    }
                }
            }
            p {
                text-align: center;
                font-size: 12px;
                color: #555555;
                margin-top: 10px;
            }
        }
        .updateProfile {
            width: 350px;
            margin: 0 auto;
            form {
                display: flex;
                flex-direction: column;
                label {
                    font-size: 12px;
                    font-weight: bold;
                    color: #2f2f2f;
                    margin-bottom: 5px;
                }
                input {
                    height: 36px;
                    border: solid 1px #d4d4d4;
                    background-color: #fbfbfb;
                    outline: none;
                    padding: 5px;
                    margin-bottom: 20px;
                }
            }
        }
    }
    .performanceWrapper {
        width: 1300px;
        margin: 0 auto;
        margin-top: 80px;
        h1 {
            font-size: 18px;
            font-weight: 500;
            color: #2f2f2f;
            margin-bottom: 24px;
        }
        .grid {
            display: flex;
            .column {
                width: 48%;
                // border: 1px solid red;
                .accordion {
                    max-height: 84px;
                    overflow: hidden;
                    background-color: #fff;
                    border-radius: 5px;
                    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.08);
                    margin-bottom: 2px;
                    transition: all 0.2s ease;
                    .header {
                        display: flex;
                        align-items: center;
                        padding: 20px 15px;
                        cursor: pointer;
                        div {
                            min-width: 60px;
                            p {
                                &:first-child {
                                    font-size: 12px;
                                    color: #666;
                                }
                                &:last-child {
                                    font-size: 14px;
                                    font-weight: bold;
                                    color: #000;
                                }
                            }
                            &:first-child {
                                margin-right: auto;
                                p {
                                    &:last-child {
                                        font-size: 14px;
                                        font-weight: bold;
                                        text-transform: uppercase;
                                    }
                                }
                            }
                            &:nth-child(2),
                            &:nth-child(3) {
                                margin-right: 80px;
                            }
                            &:last-child {
                                background-color: #eee;
                                min-width: 40px;
                                height: 40px;
                                border-radius: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                svg {
                                    stroke: #999;
                                }
                            }
                        }
                    }
                    .report {
                        padding: 20px 15px;
                        .titles {
                            display: flex;
                            margin-bottom: 15px;
                            p {
                                font-size: 12px;
                                color: #666;
                                min-width: 60px;
                                &:first-child {
                                    margin-right: auto;
                                }
                                &:nth-child(2) {
                                    margin-right: 80px;
                                }
                                &:nth-child(3) {
                                    margin-right: 120px;
                                }
                            }
                        }
                        .dataRow {
                            display: flex;
                            justify-content: flex-start;
                            padding: 15px 0;
                            border-bottom: 1px solid #d4d4d4;
                            &:last-child {
                                border-bottom: 0;
                                padding-bottom: 0;
                            }
                            p {
                                font-size: 14px;
                                color: #000;
                                min-width: 60px;
                                &:first-child {
                                    margin-right: auto;
                                }
                                &:nth-child(2) {
                                    margin-right: 80px;
                                }
                                &:nth-child(3) {
                                    margin-right: 120px;
                                }
                            }
                        }
                    }
                    .blueTheme {
                        div {
                            &:first-child {
                                p {
                                    &:last-child {
                                        color: #1176ae;
                                    }
                                }
                            }
                        }
                    }
                    .redTheme {
                        div {
                            &:first-child {
                                p {
                                    &:last-child {
                                        color: #ea4335;
                                    }
                                }
                            }
                        }
                    }
                    .orangeTheme {
                        div {
                            &:first-child {
                                p {
                                    &:last-child {
                                        color: #f46c30;
                                    }
                                }
                            }
                        }
                    }
                    .purpleTheme {
                        div {
                            &:first-child {
                                p {
                                    &:last-child {
                                        color: #6a2c70;
                                    }
                                }
                            }
                        }
                    }
                    .greenTheme {
                        div {
                            &:first-child {
                                p {
                                    &:last-child {
                                        color: #34a853;
                                    }
                                }
                            }
                        }
                    }
                }
                .accordionOpen {
                    max-height: 500px;
                }
            }
        }
        .graphWrapper {
            width: 45%;
            margin-left: 20px;
            border-radius: 5px;
            box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.08);
            background-color: #fff;
            padding: 50px;
        }
    }
}

@media (max-width: 1355px) {
    .wrapper {
        .profileWrapper {
            width: 95%;
        }
    }
}

@media (max-width: 700px) {
    .wrapper {
        .banner {
            .editProfile {
                display: flex;
            }
        }
        .profileWrapper {
            .editProfile {
                display: none;
            }
            .profile {
                padding-bottom: 30px;
                .userInfo {
                    flex-direction: column;
                    .info {
                        padding: 0;
                        margin-bottom: 15px;
                        &:nth-child(2) {
                            border: none;
                        }
                        p {
                            text-align: center;
                        }
                    }
                }
            }
            .coursesWrapper {
                .courseType {
                    text-align: center;
                }
                .courses,
                .completedCoursesWrapper {
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}

@media (max-width: 850px) {
    .wrapper {
        .editProfileWrapper {
            width: 95%;
            .saveButton {
                width: 90%;
                top: auto;
                bottom: 20px;
                left: 50%;
                transform: translateX(-50%);
            }
            .updateProfile {
                width: 90%;
            }
        }
    }
}
