.wrapper {
    height: 100%;
    border: 1px solid transparent;
    .cardWrapper {
        display: flex;
        position: relative;
        height: 500px;
        box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.06);
        border-radius: 10px;
        .nextButton {
            position: absolute;
            bottom: -60px;
            right: 0;
            background: #6a2c70;
            color: white;
            border: none;
            width: 150px;
            height: 40px;
            border-radius: 5px;
            cursor: pointer;
        }
    }
    .resetContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        padding-bottom: 20px;
        button {
            width: 120px;
            height: 40px;
            color: white;
            background-color: #6a2c70;
            border-radius: 5px;
            transition: all 0.3s;
            &:hover {
                background: white;
                color: #6a2c70;
                border: 1px solid #6a2c70;
            }
        }
    }
}

@media (max-width: 1400px) {
    .wrapper {
        .cardWrapper {
            flex-direction: column;
            margin-bottom: 20px;
            height: auto;
        }
        .nextButton {
            width: 120px !important;
        }
        .resetContainer {
            justify-content: flex-start;
            margin-left: 20px;
        }
    }
}

@media (max-width: 900px) {
    .wrapper {
        padding-bottom: 50px;
        .resetContainer {
            margin-left: 0;
        }
    }
}