.block {
    min-width: 140px;
    height: 41px;
    padding: 0px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        font-size: 14px;
        font-weight: 600;
        color: #2f2f2f;
    }
}

.pill {
    min-width: 140px !important;
    width: fit-content;
    border-radius: 100px;
}

.paralellogram {
    transform: skew(-20deg);
    p {
        transform: skew(20deg);
    }
}
