.wrapper {
    font-size: 15px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    backdrop-filter: blur(6px);
    box-shadow: inset 0 -3px 8px 0 rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    font-weight: 700;
    color: #4e71b8;
}
