.wrapper {
    display: flex;
    position: relative;
    width: calc(100vw - 250px);
    height: calc(100vh - 60px - 40px);
    margin-left: -60px;
    margin-top: -35px;
    justify-content: center;
    .innerWrapper {
        width: 913px;
        height: fit-content;
        margin-left: 60px;
        margin-top: 35px;
        .buttonContainer {
            display: flex;
            justify-content: flex-end;
            margin-top: 10px;
            button {
                &:last-child {
                    margin-left: 10px;
                }
            }
        }
    }
}

.wrapper.pythonQuizBackground {
    background-image: url("../../assets/images/games/dual-card/python-quiz.png");
    background-size: cover;
}

.wrapper.backgroundCorrect {
    background-image: url("../../assets/images/games/dual-card/green-bg.jpg");
    background-size: cover;
}

.wrapper.backgroundIncorrect {
    background-image: url("../../assets/images/games/dual-card/red-bg.jpg");
    background-size: cover;
}

@media (max-width: 1300px) {
    .wrapper {
        .innerWrapper {
            width: 95%;
            margin-left: 0;
        }
    }
}

@media (max-width: 1000px) {
    .wrapper {
        width: 100vw;
    }
}

@media (max-width: 550px) {
    .wrapper {
        margin-left: -15px;
    }
}