.wrapper {
    width: 100%;
    padding: 25px;
    position: relative;

    .heading {
        user-select: none;
        font-size: 14px;
        letter-spacing: 0.96px;
        color: #777;
    }

    .tagsContainer {
        display: flex;
        flex-direction: column;
        margin-top: 1em;

        .topic {
            user-select: none;
            font-size: 15px;
            font-weight: bold;
            color: #6a2c70;
            margin-right: 20px;
            max-width: 40ch;
        }
        .tags {
            display: flex;
            align-items: center;
            .tag {
                user-select: none;
                font-size: 13px;
                font-weight: 500;
                color: #6a2c70;
                padding: 6px 10px;
                border-radius: 5px;
                background-color: rgba(106, 44, 112, 0.1);
                margin-right: 10px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .wrapper {
        .heading {
            margin-top: 1em;
        }

        .tagsContainer {
            margin-top: 0.2em;
            flex-direction: column;
            align-items: flex-start;

            .topic {
                margin-bottom: 0.2em;
            }
        }
    }
}
