.wrapper {
    width: 100%;
    padding: 25px;
    background-color: rgba(106, 44, 112, 0.05);
    .title {
        user-select: none;
        font-size: 14px;
        letter-spacing: 0.96px;
        color: #777;
        margin-bottom: 8px;
    }

    .questionSlide {
        .swiperContainer {
            .questionWrapper {
                width: 100%;
                .question {
                    user-select: none;
                    font-size: 16px;
                    font-weight: 600;
                    color: #2f2f2f;
                    overflow: auto;
                }
            }
        }
    }
}

@media screen and (max-width: 750px) {
    .wrapper {
        padding: 15px;
    }
}
