.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 6px !important;

  label {
    display: block;
  }
}

.wrapper.row {
  display: flex;
  flex-direction: row;
  align-items: center;

  label {
    margin: 0;
  }
}
