* {
    user-select: none;
}

.block {
    width: auto;
    padding: 0px 10px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    p {
        font-size: 13px;
        font-weight: 500;
        color: #2f2f2f;
    }
}

.rectangle {
    min-width: 110px;
    background-color: #fee495;
}

.paralellogram {
    $angle: 11deg;
    min-width: 110px;
    transform: skew(-$angle);
    background-color: #f3b4ae;
    p {
        transform: skew($angle);
    }
}

.pill {
    min-width: 100px;
    border-radius: 100px;
    background-color: #b2cffe;
}

.diamond {
    $minWidth: 90px;
    min-width: $minWidth;
    min-height: $minWidth;
    width: 90px;
    height: 90px;
    background-color: #68e88a;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    p {
        text-align: center;
    }
}

.circle {
    width: auto;
    border-radius: 50%;
    border: 1px solid white;

    padding: 20px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        text-align: center !important;
        width: 100% !important;
        font-size: 0.7em !important;
        color: white !important;
    }
}
