.wrapper {
    button {
        width: 90%;
        height: 90%;
        margin: 0;
        border-radius: 50%;
        background-color: #e7e7e7;

        &:hover {
            background-color: #cccccc;
            border: 1px solid white;
        }
    }
}
