.wrapper {
    width: 920px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
    border: solid 0.5px #cacaca;
    background-color: rgba(255, 255, 255, 0.2);
    min-height: 350px;
    max-height: 500px;
    overflow-y: auto;
    padding: 30px 20px;

    &::-webkit-scrollbar {
        width: 9px;
    }

    &::-webkit-scollbar-track {
        box-shadow: inset 0 0 6px white;
    }

    &::-webkit-scrollbar-thumb {
        background-color: white;
        border-radius: 20px;
    }

    * {
        font-family: "Montserrat", sans-serif;
    }

    .clockContainer {
        position: absolute;
        right: 30px;
        top: 30px;
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    position: relative;
    .btnContainer {
        float: right;
        margin-top: 1em;
    }

    .btnNav {
        width: 35px !important;
        height: 35px !important;
        border-radius: 5px !important;

        &:first-child {
            margin-right: 15px;
        }

        svg {
            margin-top: 3px;
        }
    }

    .viewResultContainer {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        * {
            color: white;
        }

        display: flex;
        border-radius: 10px;
    }
}

@media screen and (max-width: 1400px) {
    .wrapper {
        width: 97%;
    }
}

@media screen and (max-width: 710px) {
    .wrapper {
        padding-inline: 1em;
    }
}
