.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 40px;

    * {
        font-family: "Montserrat", sans-serif;
    }

    p {
        margin-bottom: 10px;
    }

    .header {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 30px;
    }

    .subheader {
        font-size: 17px;
        margin-bottom: 50px;
        width: 80%;
        text-align: center;
    }
}

@media screen and (max-width: 750px) {
    .wrapper {
        .subheader {
            width: 100%;
        }
    }
}
