.wrapper {
    .radioWrapper {
        background-color: #fff;
        width: fit-content;
        border-radius: 5px;
        padding-left: 15px;
        transition: all 0.2s;
        min-width: 150px;
    }

    * {
        font-family: "Montserrat", sans-serif !important;
    }
}
