.wrapper {
    width: 100%;
    .headerBox {
        display: flex;
        align-items: center;
        max-width: 100%;
        height: auto;
        border-radius: 5px;
        box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.12);
        background-color: #ffffff;
        padding: 15px;
        margin-bottom: 50px;
        .courseImage {
            width: 300px;
            min-width: 166px;
            height: 166px;
            border-radius: 5px;
            margin-right: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            // background-color: #6a2c70;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 5px;
            }
        }
        .courseDetails {
            width: 710px;
            height: 100%;
            display: flex;
            flex-direction: column;
            margin-right: 15px;
            .courseTitle {
                font-size: 20px;
                font-weight: 600;
                color: #2f2f2f;
                margin-bottom: 10px;
            }
            .courseSummary {
                font-size: 14px;
                color: #2f2f2f;
                margin-bottom: 10px;
                text-align: justify;
            }
            .rating {
                display: flex;
                align-items: center;
                margin-top: auto;
                p {
                    display: flex;
                    align-items: center;
                    font-size: 12px;
                    color: #2f2f2f;
                    svg {
                        width: 20px;
                        margin-right: 5px;
                    }
                    &:first-child {
                        margin-right: 10px;
                        svg {
                            stroke: #f8a655;
                            fill: #f8a655;
                        }
                    }
                    &:last-child {
                        svg {
                            stroke: #4f7a8c;
                            fill: #4f7a8c;
                        }
                    }
                }
            }
        }
        .courseControllers {
            margin-left: auto;
            height: 166px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            button {
                width: 140px;
                height: 40px;
                border-radius: 5px;
                border: 1px solid #6a2c70;
                background-color: #6a2c70;
                font-size: 14px;
                font-weight: 600;
                color: #fff;
                margin-top: auto;
            }
        }
    }
    .content {
        margin-bottom: 50px;
        .header {
            margin-bottom: 20px;
            .title {
                font-size: 16px;
                font-weight: 800;
                color: #2f2f2f;
            }
            .desc {
                color: #555555;
            }
            .meta {
                font-size: 13px;
                color: #444444;
            }
        }
        .accordionWrapper {
            width: 100%;
            border-radius: 5px;
            box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.06);
            border: solid 1px #d4d4d4;
            background-color: #ffffff;
            margin-bottom: 20px;
            .accordion {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 20px;
                height: 45px;
                cursor: pointer;
                background-color: #f1f1f1;

                svg {
                    width: 15px;
                    // fill: #555555;
                    stroke: #555555;
                    margin-right: 10px;
                }

                p {
                    font-size: 16px;
                    font-weight: 600;
                    color: #2f2f2f;
                }
                .duration {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    p {
                        margin-right: 10px;
                        font-size: 14px;
                        color: #999999;
                    }
                    svg {
                        stroke: #999999;
                    }
                }
            }
            .accordionExpand {
                width: 100%;
                max-height: 0;
                overflow: hidden;
                transition: all 0.2s ease-in-out;
                padding: 0 20px;
                .accordionContent {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 10px;
                    margin-bottom: 10px;
                    border-radius: 5px;
                    opacity: 0;
                    transition: all 0.2s;
                    cursor: pointer;
                    &:hover {
                        background-color: #f1f1f1;
                    }
                    &:first-child {
                        margin-top: 20px;
                    }

                    p {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        &:first-child {
                            font-size: 14px;
                            color: #555555;
                            svg {
                                width: 15px;
                                fill: #555555;
                                stroke: #555555;
                                margin-right: 10px;
                            }
                        }
                        &:last-child {
                            font-size: 10px;
                            font-weight: 500;
                            color: #999999;
                            svg {
                                width: 15px;
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
            .activeAccordion {
                max-height: 1000px;
                .accordionContent {
                    opacity: 1;
                }
            }
        }
    }
    .features {
        margin-bottom: 50px;
        .featuresTitle {
            font-size: 16px;
            font-weight: 800;
            color: #2f2f2f;
            margin-bottom: 20px;
        }
        .featuresList {
            p {
                display: flex;
                align-items: flex-start;
                font-size: 14px;
                color: #444444;
                margin-bottom: 10px;
                img {
                    width: 15px;
                    margin-right: 7px;
                    position: relative;
                    top: 3px;
                }
            }
        }
    }
    .navigator {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
        button {
            width: 120px;
            height: 38px;
            background-color: #6a2c70;
            color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            font-size: 16px;
            svg {
                margin-right: -5px;
            }
        }
    }
}

@media (max-width: 1300px) {
    .wrapper {
        .headerBox {
            max-width: 95%;
        }
    }
}

@media (max-width: 1200px) {
    .wrapper {
        .headerBox {
            width: 350px;
            flex-direction: column;
            .courseImage,
            .courseDetails,
            .courseControllers {
                width: 100%;
                margin: 0;
                margin-bottom: 20px;
            }
            .courseDetails {
                .rating {
                    flex-direction: column;
                    justify-content: space-between;
                }
            }
            .courseControllers {
                height: auto;
                align-items: center;
                margin-bottom: 0;
                .tryButton {
                    margin-bottom: 20px;
                }
                .buttonGroup {
                    width: 100%;
                    flex-direction: column;
                    button {
                        &:first-child {
                            width: 100%;
                            margin: 0;
                            margin-bottom: 15px;
                        }
                        &:last-child {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .wrapper {
        padding: 0;
        padding-top: 20px;
        .headerBox,
        .features,
        .content {
            margin: 0 auto;
            margin-bottom: 50px;
        }
    }
}
