.slider {
  width: 100%;
}
.rangeslider-horizontal {
  margin: 0;
  height: 8px;
}
.rangeslider-horizontal .rangeslider__handle:after {
  content: " ";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 6px;
  left: 6px;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: none !important;
  user-select: none;
}

.rangeslider,
.rangeslider .rangeslider__fill {
  display: block;
  box-shadow: none !important;
  user-select: none;
}

.rangeslider-horizontal .rangeslider__fill {
  height: 100%;
  background-color: #c4c4c4;
  border-radius: 10px;
  top: 0;
  user-select: none;
}

.rangeslider__handle {
  outline: none;
  background-color: #b83b5e !important;
  color: #ffffff;
  border: none !important;
  box-shadow: none !important;
  user-select: none;
  font-size: 0.8em;
  width: 30px !important;
  height: 30px !important;
  /* background-color: red !important; */
}

.rangeslider__handle-label {
  width: 30px !important;
  height: 30px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.rangeslider__labels .rangeslider__label-item {
  position: absolute;
  color: #b83b5e !important;
  cursor: pointer;
  display: inline-block;
  top: 10px;
  transform: translate3d(-50%, 0, 0);
  user-select: none;
  font-size: 0.9em;
}
