.buttonsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buttonWrapper {
    margin: 0 10px;
}

.result {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    z-index: 1;
}

.bigButton {
    width: 150px !important;
}

.resultTitle {
    margin-bottom: 15px;
    font-size: 26px;
    font-weight: 500;
    color: #848484;
}

@media (max-width: 700px) {
    .result {
        margin-top: 150px;
        margin-bottom: 50px;
    }
}

@media (max-width: 450px) {
    .buttonsWrapper {
        flex-direction: column;
    }
    .buttonWrapper {
        margin: 10px auto;
    }
}